.class1{
    background-color: pink;
    font-size: 20px;
}
#ID1{
    color: rgb(58, 58, 241);
}
.class3{
    
    background-color: pink;
}
#ID2{
    font-weight: bolder;
    background-color: rgb(182, 245, 182);   
}
.class2{
    margin-top: 1px;
    background-color: pink;
    font-size: 20px;
}