body{
    background-color: rgb(38, 37, 37);
    text-align: center;
    padding-top: 330px;
}
div{
    background-color: white;
    margin: auto;
    max-width: 280px;
    padding: 20px;
}
.button1 ,
.button2{
    font-size: 25px;
    font-family: Helvetica, "Times New Roman", sans-serif;
}
.button1{
    background-color: black;
    color: white;
}
.button2{
    background-color: yellow;
}